@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ricks College has a NO PRIVACY policy. All your activity on this site and on campus is tracked, collected, and sold to 3rd parties.</p>
