@{
    ViewData["Title"] = "Requirements";
}
<h1>@ViewData["Title"]</h1>

<h3>W10 Assignment: <strike>Contoso University</strike> Ricks College</h3>

<ul>
    <li>Create a new Git repository for this project. <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Delete any home page or any template page based dialog about the tutorial and make everything about an actual university web application that manages enrollment. This includes page titles, footers, or anything else that would not be found in an actual university site. <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Use an image on the home page the depicts the fictional university setting. <a class="external" href="https://www.pexels.com/" target="_blank">Free Stock Photos.</a> <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Use a shared <a class="external" href="https://fonts.google.com/" target="_blank">Google fonts</a> reference. <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Add a color scheme to the project style beyond black/white/gray as given in the template. <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Make sure all labels on all forms and reports are written in readable form, e.g., not like <em>FirstName</em> from the data source but rather "Student First Name:" or something sensible for an user interface. <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Format any report to use good PARC principles of design. Pay attention to the padding around report content and adjust as necessary to make it readable. <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Make sure your name and contact information are found in the <strong>About</strong> page. <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li><span>Give your university a name that is something other than "Contoso University" and ensure all references, headings, footers, etc. reflect the continuity of your university name.</span> <span style="font-weight: bold; color: green;">&#10003;</span></li>
</ul>

<hr />