@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="h5">You have absolutely no reason to belive you have privacy on this site. All your clicks and movements are being 100% tracked and sold to 3rd parties.</p>
